name: Build and Release

on:
  push:
    tags:
      - release-**

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Tag Name
        id: set_tag
        run: echo "tag_name=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set release note
        id: release_note
        run: |
          echo "body<<EOF" >> $GITHUB_OUTPUT
          git log -1 --pretty=%B | sed -n '2,$p' >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org
          cache: pnpm

      - run: npm install -g npm@latest

      - name: Install dependencies
        run: pnpm i --frozen-lockfile --strict-peer-dependencies

      - name: Build
        run: pnpm build

      - name: Publish
        run: |
          for pkg in dist/*; do
            (cd "$pkg"; npm publish --access public --tag latest || true)
          done

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.set_tag.outputs.tag_name }}
          release_name: ${{ steps.set_tag.outputs.tag_name }}
          draft: false
          prerelease: false
          body: ${{ steps.release_note.outputs.body }}
